---
export type Props = {
    title?: string;
}

const { title } = Astro.props;

const hasData = Astro.slots.has("data") || Astro.slots.has("data-big");
---

<article class="">
      {title && <h2 class="mt-16">{title}</h2>}
  <div class="flex flex-wrap">
    {
      Astro.slots.has('data-big') && (
        <div class="m-2 w-[70ch] self-center">
          <slot name="data-big" />
        </div>
      )
    }
    <div class={"grow min-w-[20ch] max-w-[70ch] " + (hasData ? "w-0" : "max-w-[70ch]")}>
      <slot name="default" />
    </div>
    {
      Astro.slots.has('data') && (
        <div class="m-2 w-[60ch] self-center mx-auto">
          <slot name="data" />
        </div>
      )
    }
  </div>
</article>
