---
import { getAllPosts } from '@libs/Post';
import Layout from '../../../layouts/ArticleLayout.astro';
import { format, toZonedTime } from 'date-fns-tz';

export async function getStaticPaths() {
  const posts = await getAllPosts();

  return posts.map((p) => {
    return {
      params: { path: p.slug },
    };
  });
}

// Collections query
const { path } = Astro.params;
const posts = await getAllPosts();
const post = posts.find((p) => p.slug === path);

if (post == undefined) {
  throw 'Unable to load post';
}

const { Content } = await post.content.render();
const zonedDate = toZonedTime(post.data.date, 'UTC');
const dateStr = format(zonedDate, 'EEEE do MMMM, yyyy', { timeZone: 'UTC' });
console.log(post.data.date);
---

<Layout article={post}>
  <slot name="header" slot="header">
    <aside>
      <time datetime={post.data.date.toISOString()}>{dateStr}</time>
    </aside>
    <h1>{post.data.title}</h1>
  </slot>
  <Content />
</Layout>
