---
import type { Flight } from '@libs/flying';
import FlightCard from './FlightCard';

type Props = {
    flights: Flight[]
};

const { flights } = Astro.props;
---

<div>
    {flights.map(f => <FlightCard client:only="react" flight={f} />).slice(0, 10)}
</div>

