---
import BlogPost from '@components/BlogPost.astro';
import Layout from '../layouts/Layout.astro';

import { getAllPosts } from '@libs/Post';
import { Icon } from 'astro-icon/components';

const pages = await getAllPosts();
---

<Layout title="Scott's Recent Writing's">
  <main>
    {
      pages.map((post) => (
        <BlogPost post={post} fullPost={false} />
      ))
    }
  </main>
</Layout>

<style></style>
