---
import '@fontsource/inter';
import '@fontsource/bricolage-grotesque/latin-600.css';
import '@fontsource/bricolage-grotesque/latin-500.css';
import '@fontsource/bricolage-grotesque/latin-400.css';
import '@fontsource/bricolage-grotesque';
import '@fontsource/bricolage-grotesque/latin-600.css';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="list-disc">
  <head>
    <meta charset="UTF-8" />
    {description && <meta name="description" content={description} />}
    <meta name="viewport" content="width=device-width" />
    <meta name="view-transition" content="same-origin" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Scott O'Brien\'s Website"
      ,
      href={new URL('rss.xml', Astro.site)}
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>

  <style is:global>
    /* https://dev.to/swyx/100-bytes-of-css-to-look-great-everywhere-19pd */
    html {
      padding-top: 0em;
      margin: auto;
      line-height: 1.5em;
      font-size: 1em;
      font-family:
        'Inter',
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
      color: #333333;
      background-color: #fafafa;
      padding-bottom: 60px;
      /* font-size: 5px; */
    }
    h1,
    h2,
    h3 {
      font-family: 'Bricolage Grotesque', sans-serif;
      font-size: 1.25em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 600;
      margin: 3em 0 1em;
    }

    p,
    ul,
    ol {
      margin-bottom: 2em;
      /* color: #1d1d1d; */
      /* font-family: sans-serif; */
    }

    main ul {
      list-style-type: disc;
      padding-left: 40px;
    }

    main ol {
      padding-left: 40px;
      list-style-type: decimal;
    }

    main a,
    .hyperlink {
      color: #fc7e0f;
      text-decoration: underline;
    }

    article pre {
      padding: 1.25rem;
      border-radius: 0.75rem;
      margin-bottom: 2em;
    }

    blockquote {
      padding-left: 2rem;
      margin-bottom: 2em;
      margin-left: 1em;
      font-style: italic;
      position: relative;
      overflow: hidden;

      &::before,
      &::after {
        position: absolute;
        color: #777;
      }

      p {
        margin: 0;
      }

      p + p {
        margin-top: 1rem;
      }

      &::before {
        content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='%23777777'><path d='M9.983 3v7.391C9.983 16.095 6.252 19.961 1 21l-.995-2.151C2.437 17.932 4 15.211 4 13H0V3h9.983zM24 3v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151C16.437 17.932 18 15.211 18 13h-3.983V3H24z'/></svg>");
        left: 0;
      }

      &::after {
        content: '';
        left: 5px;
        top: 25px;
        width: 1px;
        height: 100%;
        background-color: currentColor;
      }
    }

    code {
      font-size: 14px;
    }

    lite-youtube {
      margin-bottom: 2em;
    }
  </style>
</html>
