---
interface Props {
  title: string;
}

const { title } = Astro.props;

// Fonts
// Pacifico is used for my name heading
import '@fontsource/capriola';
import '@fontsource/inter';
import '@fontsource/bricolage-grotesque/latin-600.css';
import Navbar from '../components/Navbar.astro';
import BaseLayout from './BaseLayout.astro';
---

<BaseLayout title={title} description="Recent writing from the blog of Scott">
  <header>
    <h1 class="text-center text-3xl"><a href="/">Scott O'Brien</a></h1>
    <nav>
      <Navbar />
    </nav>
  </header>
  <main>
    <slot />
  </main>
</BaseLayout>

<style is:global>
  header h1 {
    font-family: 'Capriola', cursive;
    margin: 1em;
    margin-bottom: 0em;
    font-size: 36px;
  }

  article time {
    margin-bottom: 1.5em;
    font-size: small;
    font-style: italic;
    display: block;
    color: #9ca3af;
  }

  article:has(> time) > h2 {
    margin-bottom: 0em;
  }

  h2 a {
    transition: all 1s ease;
    text-decoration-color: transparent;
    color: #333;
  }

  h2 a:hover {
    text-decoration: underline;
    text-decoration-color: #fc7e0f;
    transition: all 1s ease;
    text-decoration-thickness: 2px;
  }

  html {
    max-width: 70ch;
    padding: 3em 1em;
  }
</style>
